@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root{
  --clr-orange-1: hsl(26, 100%, 55%);
  --clr-orange-2: hsl(25, 100%, 94%);
  --clr-blue-1: hsl(220, 13%, 13%);
  --clr-blue-2: hsl(223, 64%, 98%);
  --clr-blue-3: hsl(220, 14%, 75%);
  --clr-blue-4: hsl(219, 9%, 45%);
  --crl-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}

button {
  flex: 0 0 60%;
  border: none;
  background: var(--clr-orange-1);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  color: var(--crl-white);
  cursor: pointer;

  &::before {
    position: relative;
    top: 2px;
    content: url('../images/icon-cart.svg');
    margin-right: 20px;
    filter: brightness(0%) invert(100%);
  }

  &:hover {
    opacity: 0.5;
  }
}

.container{
  max-width: 1150px;
  margin-inline: auto;
}

nav {
  display: flex;
  align-items: center;
  height: 13vh;
  border-bottom: 1px solid var(--clr-blue-3);

  .logo {
    margin-right: 70px;
  }
  
  ul {
    display: inherit;
    align-items: inherit;
    width: 100%;

    li:not(:last-of-type) {
      color: var(--clr-blue-4);
      margin-right: 50px;
    }

    li:nth-child(6) {
      margin-left: auto;
    }

    li:last-of-type {

      img {
        width: 50px;
      }
    }
    .cart {
      position: relative;
      cursor: pointer;
      .cart-wrapper{
        display: none;
        position: absolute;
        top: 50px;
        left: -180px;
        border-radius: 10px;
        background: var(--crl-white);
        width: 380px;
        box-shadow: 1px 6px 10px var(--clr-blue-3);
        h3{
          color: var(--clr-blue-1);
          padding: 20px;
          border-bottom: 1px solid var(--clr-blue-3);
        }
        .empty{
          text-align: center;
          padding: 77px 0;
          // display: none;
        }

        &.active{
          display: block;
        }

        .added-product {
          display: none;
          padding: 30px 20px;
          .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .product-img {
              width: 50px;
              border-radius: 5px;
            }
            .product-info {
              strong{
                color: var(--clr-black);
              }
            }
            .product-delete {
              height: 15px;
              width: 13px;
            }
          }
          button{
            margin-top: 20px;
            width: 100%;
            padding: 12px 0;

            &::before{
              display: none;
            }
          }
        }
      }
    }
    .avatar:hover{
      outline: 2px solid var(--clr-orange-1);
      border-radius: 50%;
    }
  }
}

main {
  height: calc(87vh);

  &.container {
    display: flex;
    height: 100%;
    padding: 100px 50px;
    gap: 120px;
    align-items: center;

    .left {
      height: 100%;
      
      .main-img {
        height: 480px;
        margin: 0 auto;
        border-radius: 15px;
        margin-bottom: 33.3333px;
      }

      .img-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 500px;
        position: relative;
        background: rgba(255, 255, 255, 0.5);
        
        img {
          width: calc(80% / 4);
          border-radius: 10px;

          &:hover{
            opacity: 0.5;
          }

          &.active {
            outline: 2px solid var(--clr-orange-1);
            opacity: 1;
            & ~ .overlay {
              display: block;
            }
          }

          &:nth-of-type(2).active ~ .overlay {
            left: 133.3333px;
          }
          &:nth-of-type(3).active ~ .overlay {
            left: 266.6666px;
          }
          &:nth-of-type(4).active ~ .overlay {
            left: 399.9999px;
          }
        }
        .overlay {
          position: absolute;
          content: '';
          width: calc(80% / 4);
          border-radius: 10px;
          height: 100px;
          aspect-ratio: 1;
          background: rgba(255, 255, 255, 0.7);
          display: none;
          pointer-events: none;
        }
      }
    }

    .right {
      h1{
        font-size: 48px;
        margin-bottom: 30px;
      }

      h4 {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        color: var(--clr-orange-1);
        margin-bottom: 20px;
      }
      
      p {
        color: var(--clr-blue-4);
        margin-bottom: 30px;
        line-height: 1.5;
      }

      .add-to-cart {
        display: flex;
      }

      .discount{
        h2 {
          display: inline;
        }

        span {
          background: var(--clr-orange-2);
          color: var(--clr-orange-1);
          font-weight: 700;
          border-radius: 5px;
          padding: 5px 10px;
          margin-left: 20px;
        }

        p {
          color: var(--clr-blue-3);
          text-decoration: line-through;
          font-weight: 700;
          margin-top: 10px;
        }
      }

      .add-to-cart {
        display: flex;
        justify-content: center;
        gap: 15px;
        height: 50px;
        font-weight: 700;

        .quantity {
          display: inherit;
          justify-content: space-around;
          border-radius: 10px;
          align-items: center;
          flex: 0 0 40%;
          font-size: 18px;
          background: var(--clr-blue-2);

          span {
            color: var(--clr-orange-1);
            font-size: 24px;
            margin-bottom: 4px;
            cursor: pointer;
            user-select: none;
          }

          p {
            margin-bottom: unset;
          }
        }
      }
    }
  }
}

